<!-- Footer Container -->
<footer class="footer">
    <div class="container">
      <p class="text-muted">Nguyễn Đang Tích - Đặng Văn Trí (©) 2017</p>
    </div>
  </footer>
<!-- //end Footer Container -->