<!-- Main Container  -->
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="home"><i class="fa fa-home"></i></a></li>
        <li><a href="#">About</a></li>
    </ul>
    

        <h1><span class="fa fa-info-circle"></span> About us</h1>
        <p>Chúng tôi là nhóm thực hiện ứng dụng gửi nhận email, thông tin chúng tôi gồm:
        </p>
        <p>Nguyễn Đang Tích - MSSV: 11412551</p>
        <p>Đặng Văn Trí - MSSV: 1412574</p>
        <p><strong>Khoa Công nghệ thông tin - Trường Đại học khoa học tự nhiên TPHCM</strong></p>

        <div class="page-header people">
            <h2>Nguyễn Đang Tích</h2>
        </div>
        <p class="person"><img src="image/about/dangtich.jpg" width="120" height="120">
            Tôi là một sinh viên năm thứ 3 - khoa CNTT - Trường Đại học khoa học tự nhiên Thành phố Hồ Chí Minh
            Email: ndtich@gmail.com
        </p>


        <div class="page-header people">
            <h2>Đặng Văn Trí</h2>
        </div>
        <p class="person"><img src="image/about/vantri.jpg" width="120" height="120">
        Tôi là một sinh viên năm thứ 3 - khoa CNTT - Trường Đại học khoa học tự nhiên Thành phố Hồ Chí Minh
        Email: dangvantri250596@gmail.com
        </p>
        

              
    
</div>
<!-- //Main Container -->




    