<div class="container main-container">
<div class="row">
    <ul class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home"></i></a></li>
        <li><a href="">Mail</a></li>
    </ul>
    <h3 class="text-center" >MAIL</h3>
    

        <div class="mail-env">
            <!-- compose new email button -->
            <div class="mail-sidebar-row visible-xs">
                <a href="/compose" class="btn btn-success btn-icon btn-block">
                    New message
                    <i class="entypo-pencil"></i>
                </a>
            </div>
            
            
           <!-- Mail Body -->
            <div class="mail-body">
                
                <div class="mail-header">
                    <!-- title -->
                    <div class="mail-title">
                        Compose Mail <i class="entypo-pencil"></i>
                    </div>
                    
                    <!-- links -->
                    <div class="mail-links">
                    
                        <a href="/home" class="btn btn-default">
                            <i class="entypo-cancel"></i>
                        </a>
                    
                        
                        
                        
                        
                    </div>
                </div>
                
                
                <div class="mail-compose">
                
                    <form method="post" role="form" action="compose">
                        
                        <div class="form-group">
                            <label for="to">To:</label>
                            <select style="width:500px; margin-left:100px" name="user_receive">
                                {{#each friends}}
                                <option value="{{id}}">{{username}}</option>
                                {{/each}}
                            </select>
                            {{!-- <input type="text" class="form-control" id="to" tabindex="1" /> --}}
                        </div>
                        
                        
                        
                        <div class="form-group">
                            <label for="subject">Subject:</label>
                            <input type="text" class="form-control" id="subject" tabindex="1" name="title" />
                        </div>
                        
                        
                        <div class="compose-message-editor">
                            <textarea class="form-control wysihtml5" data-stylesheet-url="assets/css/wysihtml5-color.css" name="content" id="sample_wysiwyg"></textarea>
                        </div>

                        <button type="submit" class="btn btn-success btn-icon" style="margin-top:5px;">
                            Send
                            <i class="entypo-mail"></i>
                        </button>
                        
                    </form>
                
                </div>
                
            </div>
            
            <!-- Sidebar -->
            <div class="mail-sidebar">
                
                <!-- compose new email button -->
                <div class="mail-sidebar-row hidden-xs">
                    <a href="/compose" class="btn btn-success btn-icon btn-block">
                        New message
                        <i class="entypo-pencil"></i>
                    </a>
                </div>
                
                <!-- menu -->
                <ul class="mail-menu">
                    <li>
                        <a href="/mailbox">
                            <span class="badge badge-danger pull-right"></span>
                            Inbox
                        </a>
                    </li>
                    
                    <li>
                        <a href="/sentbox">
                            <span class="badge badge-gray pull-right"></span>
                            Sent
                        </a>
                    </li>

                    <li>
                        <a href="/listfriend">
                            List Friends
                        </a>
                    </li>
                    
                    
                </ul>
                
                <div class="mail-distancer"></div>
                
                
                
            </div>
        </div>

    
</div>
</div>